* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: #fff;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
}

.result {
    /* background-color: hsl(241, 81%, 54%); */
    background-image: linear-gradient(to bottom, #7857ff, #694cf9, #5941f4, #4736ee, #2e2be9);
    color: #fff;
    /* border: 3px solid black; */
    padding: 20px 0;
    width: 22%;
    text-align: center;
    border-radius: 20px;
}


.first-div h3 {
    color: hsl(241, 100%, 89%);
    margin-bottom: 20px ;
}

.second-div h1 {
    margin-bottom: 10px;
    font-size: 20px;
    margin-top: 30px;
}

.result p {
    color: hsl(241, 100%, 89%);
    font-size: 16px;
}
.second-div p {
    margin: 0px 30px 30px 30px;
}
.score h1 {
    font-size: 4em;
}
.score {
    /* background-color: rgba(78, 33, 202, 0.437); */
    background-image: linear-gradient(to bottom, #4e21ca, #4e21ca, #4e21ca, #4e21ca, #4e21ca);
    border-radius: 50%;
    width: 135px;
    height: 135px ;
    margin: auto;
    padding: 20px 0;
    /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.285); */
    /* box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5), 0 3px 5px rgba(0, 0, 0, 0); */
    /* box-shadow: 0 0 10px 10px rgba(73, 33, 184, 0.534) inset; */
    
}
.leftglow {
    box-shadow: -15px 0 20px rgba(148, 212, 255, 0.244);
}


/* summary section */
.summary {
    /* border: 1px solid red; */
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px; 
    padding: 0 20px;
    /* margin: 10px 0; */
}

.summary h3 {
    margin: 10px 0 20px 0;
}

.red-sec {
    background-color: hsla(0, 100%, 67%, 0.074);
}
.yellow-sec {
    background-color:hsla(39, 100%, 56%, 0.078) ;
}
.teal-sec {
    background-color:hsla(166, 100%, 37%, 0.074) ;
}
.blue-sec {
    background-color:hsla(234, 85%, 45%, 0.078) ;
}


.red-sec-left, .yellow-sec-left, .teal-sec-left, .blue-sec-left {
    display: flex;
    gap: 0.5em;
}


.flex-gap {
    display: flex;
    gap: 4em;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    padding: 12px 22px;
    border-radius: 7px;
}

.btn-center {
    text-align: center;
    margin: 30px 0;
}
button {
    font-size: 16px;
    border: 0;
    padding: 10px 20px;
    width: 85%;
    background-color: hsl(224, 30%, 27%);
    border-radius: 20px;
    color: #fff;
}
.rightglow {
    box-shadow: 5px 0 12px rgba(148, 212, 255, 0.244);
}

.attribution {
    text-align: center;
}


@media screen and (max-width: 375px) {
    .container {
        /* flex-direction: column; */
        display: block;
        /* overflow:hidden; */
    }
    .result {
        /* height: 50%; */
        width: 100%;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
    .summary {
        width: 100%;
    }
    .summary h3 {
        margin-bottom: 0;
    }
    .score {
        width: 120px;
        height: 120px;
    }
    .second-div p {
        margin-bottom: 10px;
    }
    .leftglow, .rightglow {
        box-shadow: none;
    }
    .btn-center {
        margin: 10px;
    }
    
}